.container1 {
    background: #f1f5f9;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    align-items: flex-start;
    height: calc(100vh - 50px);
    flex: 1;
}

.right1 {
    overflow-y: scroll;
}

.left1, .right1 {
    height: calc(100vh - 50px);
    flex: 1;
    flex-basis: 50%;
    overflow: auto;
}

.left1 {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
}