.container {
    background: #f1f5f9;
    display: flex;
    flex-direction: row;
    padding-top: 37.21px;
    align-items: flex-start;
    height: calc(100vh - 55px);
    flex: 1;
}

.right {
    overflow-y: scroll;
}

.left, .right {
    height: calc(100vh - 55px);
    flex: 1;
    flex-basis: 50%;
}

.left {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 55px);
}